

/* Menü başlangıç durumu */
.side-menu {
    width: 60px; /* Dar durumdayken genişlik */
    height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    transition: width 0.3s ease; /* Geçiş animasyonu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0; /* Sol kısma sabitle */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    border-top-right-radius:30px;
}

/* Menü genişlemiş durumu */
.side-menu.expanded {
    width: 250px; /* Geniş durumdaki genişlik */
}

/* Menü ikonları ve yazıları */
.menu-items a {
    display: flex;
    align-items: center;
    padding: 13px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    width: 100%;
    transition: color 0.3s ease;
}

/* İkon sabit kalır, solda durur */
.menu-icon {
    font-size: 24px;
    width: 35px; /* Sabit genişlik, sola sabitler */
    text-align: center;
    color: #ff4500; /* Renk örneği */
}

/* Menü genişlediğinde metin görünür hale gelir */
.menu-text {
    opacity: 0; /* Başlangıçta gizli */
    white-space: nowrap; /* Taşma olmaması için */
    transition: opacity 0.3s ease; /* Geçiş efekti */
}

/* Menü genişletildiğinde metinler görünür hale gelir */
.side-menu.expanded .menu-text {
    opacity: 1; /* Genişlediğinde görünür */
}
.menu-text:hover{
    color: rgb(255, 106, 0);
    transition: 0.3s ease-in-out;
}
.menu-text-allgames{
    position: relative;
    top: 5px;
}