<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/style.css">
</head>
{% block sideMenuBody %}
<body>
    
    

   
<div class="side-menu" id="sideMenu">
    <div class="menu-items">
        <a href="{{url_for('mainPage')}}">
            <span class="menu-icon">🏠</span>
            <span class="menu-text-allgames">
                <span class="menu-text">All Games</span>
            </span>
            
        </a>
        <a href="{{url_for('prototype_reports')}}">
            <span class="menu-icon">📄</span>
            <span class="menu-text">Prototype Reports</span>
        </a>
        <a href="#">
            <span class="menu-icon">🛠️</span>
            <span class="menu-text">Game Optimization</span>
        </a>
        <a href="#">
            <span class="menu-icon">🎮</span>
            <span class="menu-text">Published Games</span>
        </a>
        <a href="#">
            <span class="menu-icon">💡</span>
            <span class="menu-text">Knowledge Hub</span>
        </a>
        <a href="#">
            <span class="menu-icon">❓</span>
            <span class="menu-text">Help Center</span>
        </a>
    </div>
</div>
    
    
    <script src="/static/sideMenu.js"></script>
</body>

{% endblock %}
</html>
